<!DOCTYPE html>
<html ng-app="AdLab">
<head>
    <title>AdLab - Administrador de Laboratórios</title>
	<meta charset="utf-8" />

    <!-- thirdpartycss:css -->
    <link rel="stylesheet" href="dist/lib/bootstrap.min.css">
    <!-- endinject -->

    <!-- mycustomcss:css -->
    <link rel="stylesheet" href="content/custom.css">
    <!-- endinject -->
</head>
<body ng-controller="IndexController as index" ng-cloak>

    <nav class="navbar navbar-default" ng-if="index.currentUser && !onLoginScreen">
        <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
            <li>
                <button class="btn btn-default navbar-btn" ng-click="index.logout()">
                    Logout <strong>{{index.currentUser.user}}</strong>
                </button>
            </li>
        </ul>
    </nav>

    <div id="loaderDiv" ng-show="showEl" loader>
        <img  src="images/load.gif" class="ajax-loader" />
    </div>

    <div class="container-fluid">
        <div>
            <div class="row col-xs-offset-4 col-xs-4">
                <div ng-repeat="al in alerts" class="alert alert-{{al.type}} fade in" style="margin-top:20px">
                    {{al.msg}}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>


    <!-- thirdparty:js -->
    <script src="dist/lib/angular.min.js"></script>
    <script src="dist/lib/jquery.min.js"></script>
    <script src="dist/lib/angular-storage.min.js"></script>
    <script src="dist/lib/angular-ui-router.min.js"></script>
    <script src="dist/lib/bootstrap.min.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="app/app.js"></script>
    <script src="app/base/routes.js"></script>
    <script src="app/services/AlertService.js"></script>
    <script src="app/services/APIInteceptor.js"></script>
    <script src="app/services/LoadingInterceptor.js"></script>
    <script src="app/services/LoginService.js"></script>
    <script src="app/services/UserService.js"></script>
    <script src="app/controllers/AccessDeniedController.js"></script>
    <script src="app/controllers/HomeController.js"></script>
    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/LoginController.js"></script>
    <script src="app/directives/LoadingDirective.js"></script>
    <!-- endinject -->
</body>
</html>
