<!DOCTYPE html>
<html ng-app="AdLab">
<head>
    <title>AdLab - Administrador de Laboratórios</title>
	<meta charset="utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- thirdpartycss:css -->
    <link rel="stylesheet" href="dist/lib/bootstrap.min.css">
    <!-- endinject -->

    <!-- mycustomcss:css -->
    <link rel="stylesheet" href="content/custom.css">
    <!-- endinject -->
</head>
<body ng-controller="IndexController as index" ng-cloak>

    <div ng-controller="menuController" ng-if="index.currentUser && !onLoginScreen">
        <menu menus='menus'></menu>
    </div>

    <div id="loaderDiv" ng-show="showEl" loader>
        <img  src="images/load.gif" class="ajax-loader" />
    </div>

    <div class="container-fluid">
        <div>
            <div class="row col-xs-offset-4 col-xs-4">
                <div ng-repeat="al in alerts" class="alert alert-{{al.type}} fade in" style="margin-top:20px">
                    {{al.msg}}
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
            <div ui-view></div>
        </div>
    </div>


    <!-- thirdparty:js -->
    <script src="dist/lib/angular.min.js"></script>
    <script src="dist/lib/jquery.min.js"></script>
    <script src="dist/lib/angular-storage.min.js"></script>
    <script src="dist/lib/angular-ui-router.min.js"></script>
    <script src="dist/lib/bootstrap.min.js"></script>
    <!-- endinject -->

    <!-- inject:js -->

    <script src="app/app.js"></script>

    <script src="app/base/routes.js"></script>

    <script src="app/services/alertService.js"></script>

    <script src="app/services/APIInteceptor.js"></script>

    <script src="app/services/LoadingInterceptor.js"></script>

    <script src="app/services/LoginService.js"></script>

    <script src="app/services/userService.js"></script>

    <script src="app/controllers/accessDeniedController.js"></script>

    <script src="app/controllers/homeController.js"></script>

    <script src="app/controllers/indexController.js"></script>

    <script src="app/controllers/loginController.js"></script>

    <script src="app/controllers/registrarController.js"></script>

    <script src="app/directives/loadingDirective.js"></script>

    <script src="app/directives/menuDirective.js"></script>

    <script src="app/controllers/usuario/perfilController.js"></script>

    <!-- endinject -->
</body>
</html>
