<link href="../Content/login.css" rel="stylesheet" />

<div class="container" style="margin-top:80px">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Registrar</strong>
                </div>
                <div class="panel-body">
                    <form name="form" novalidate>
                        <br />
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Nome" name="Nome" ng-model="vm.Usuario.nome" required />
                            </div>
                            <small class="error" ng-show="form.Nome.$dirty && form.Nome.$invalid"> Campo obrigatório </small>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                <input type="text" class="form-control" placeholder="Login" name="Login" ng-model="vm.Usuario.login" required />
                            </div>
                            <small class="error" ng-show="form.Login.$dirty && form.Login.$invalid"> Campo obrigatório </small>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="E-mail" name="Email" ng-model="vm.Usuario.email" required />
                            </div>
                            <small class="error" ng-show="form.Email.$dirty && form.Email.$invalid"> Campo obrigatório </small>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Senha" name="Senha" ng-model="vm.Usuario.senha" required />
                            </div>
                            <small class="error" ng-show="form.Senha.$dirty && form.Senha.$invalid"> Campo obrigatório </small>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Confirmar senha" name="ConfirmarSenha" ng-model="vm.Usuario.confirmarSenha" required />
                            </div>
                            <small class="error" ng-show="form.ConfirmarSenha.$dirty && form.ConfirmarSenha.$invalid"> Campo obrigatório </small>
                        </div>

                        <hr />

                        <div class="row">
                            <div class="col-lg-7">
                                Já possuí cadastro? <a href="#/login">Login</a>
                            </div>
                            <div class="col-lg-4">
                                <button class="btn btn-success" btn-block ng-click="vm.registrar(form)" ng-disabled="form.$invalid || vm.Usuario.senha != vm.Usuario.confirmarSenha">
                                    <span class="fa fa-user-plus"></span> Registrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


