<div class="well">
    <form class="form">
        <div class="form-group row">
            <div class="col-lg-3 ">
                <label>Login </label>
                <input type="text" class="form-control" placeholder="Login" ng-model="perfilCtrl.vm.Login">
            </div>
            <div class="col-lg-3 ">
                <label>E-mail </label>
                <input type="text" class="form-control" placeholder="E-Mail" ng-model="perfilCtrl.vm.Email">
            </div>
        </div>
    </form>
</div>